.contact_us {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
 .contact_us_title {
  font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin: 10px 0 20px 0;
    text-align: center;

}

.contact_us .contact_us_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 675px;
    background-color: var(--gray-01);
    border: 2.5px solid var(--gray-03);
    padding: 20px 35px;
    border-radius: 8px;
}

.contact_us .contact_us_wrapper:focus-within {
  border: 2.5px solid var(--green-01);
}

.contact_form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;  
}

.fieldset {
  border-radius: 8px;
  padding: 10px;
  color: var( --black-01);
  border: 2px solid var( --black-01);
  width: 300px;
  margin-block: 20px;
  cursor: pointer;
}
.fieldset legend {
  padding: 0 5px 0 5px;
}

.fieldset input,
.fieldset select {
  background-color: transparent;
  font-size: 1rem;
  outline: none;
  border: none;
  color: var(--black-01);
  width: 100%;
}

.fieldset input:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.fieldset textarea {
  background-attachment: fixed;
  background-color: transparent;
  color: #fff;
  font: 2rem;
  border: none;
  width: 635px;
  height: 100%;
  outline: none ;
  resize: vertical;
}


textarea::-webkit-scrollbar{
  width: 6px;
}

textarea::-webkit-scrollbar-track{
  background-color: var(--green-01);
}

textarea::-webkit-scrollbar-thumb{
  background-color: var(--green-02);
  border-radius: 8px;
}

.contact_form button[type="submit"] {
  background-color: var(--green-01);
  color: var(--black-01);
  font-size: 1rem;

  font-weight: 700;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact_form button[type="submit"]:hover {
  background-color: var(--green-02);
}


.contact_us .other_contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 300px;
  height: 352px;
  background-image: url("../assets/img/IC-icon-xl.png");
  background-repeat: no-repeat;
  background-position:  top;
  background-size: 200px;
  background-position-x: right;
  
  background-color: var(--gray-01);
  border: 2.5px solid var(--gray-03);
  padding: 20px 35px;
  border-radius: 8px;
  margin-block: 20px;
}

.contact_us .other_contact .other_contact_item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;

}