.last_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.last_content .last_content_title {
  font-size: 30px;
  font-weight: 700;
  color: var(--black-01);
}

.last_content .last_content_txt {
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  text-align: center;
  color: var(--black-03);
}

.last_content .last_content_btn{
  width: 280px;
  height: 35px;
  background-color: var(--green-02);
  color: var(--black-01);
  text-decoration: underline;
  font-size: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 15px;
}

.last_content .last_content_btn:hover {
  background-color: var(--green-03);
  color: var(--salmon-01);
  transition: 0.5s;
}

.last_content img {
  width: 200px;
  height: 200px;
}