.main_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main_content .wrap_cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.main_content .main_content_title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--black-01);
  margin-bottom: 1rem;
}


.main_content .card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 280px;
  max-width: 500px;
  height: 320px;
  background-color: var(--gray-02);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  padding: 20px;
  border-radius: 10px;
  border: 5px solid var(--green-01);
  margin-right: 40px;
  
}

.main_content .card .card_img{
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.main_content .card .card_title {
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 600; 
  text-align: center;
  color: var(--black-01);
}

.main_content .card .card_txt {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  color: var(--black-01);
  
}

.main_content .main_content_btn {
  width: 280px;
  height: 35px;
  background-color: var(--gray-01);
  color: var(--green-02);
  text-decoration: underline var(--green-02);
  font-size: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 15px;
}

.main_content .main_content_btn:hover {
  background-color: var(--green-01);
  color: var(--black-01);
  text-decoration: none;
}
