.top_header {
  display: flex;
  width: 100%;
  padding: 7px 0px 7.961px 0px;
  position: fixed;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
  flex-shrink: 0;

  background-color: var(--green-01);
  border-radius: 0px 0px 10px 10px;
  
}

.top_header > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.top_header > ul > li {
 margin-right: 25px;
 
}